<!DOCTYPE html>
<html>
<head>
</head>
<body>

<!-- Footer -->
<footer class="footer" th:fragment="footer" th:inline="text">
	<div id="footer" class="container">
	&copy; 2015 Paul Horn Enterprises LLC
	</div>
<!--[if lt IE 9]><script src="js/excanvas.min.js" th:src="@{/js/excanvas.min.js}"></script><![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="js/jquery.columns.min.js" th:src="@{/js/jquery.columns.min.js}"></script>
<script src="js/jquery.jqplot.min.js" th:src="@{/js/jquery.jqplot.min.js}"></script>
<script src="js/jqplot.json2.min.js" th:src="@{/js/jqplot.json2.min.js}"></script>
<script src="js/jqplot.canvasAxisLabelRenderer.min.js" th:src="@{/js/jqplot.canvasAxisLabelRenderer.min.js}"></script>
<script src="js/jqplot.canvasAxisTickRenderer.min.js" th:src="@{/js/jqplot.canvasAxisTickRenderer.min.js}"></script>
<script src="js/jqplot.canvasTextRenderer.min.js" th:src="@{/js/jqplot.canvasTextRenderer.min.js}"></script>
<script src="js/jqplot.cursor.min.js" th:src="@{/js/jqplot.cursor.min.js}"></script>
<script src="js/jqplot.dateAxisRenderer.min.js" th:src="@{/js/jqplot.dateAxisRenderer.min.js}"></script>
<script src="js/jqplot.highlighter.min.js" th:src="@{/js/jqplot.highlighter.min.js}"></script>
<script src="js/js.cookie.js" th:src="@{/js/js.cookie.js}"></script>
<script type="text/javascript">
var autorefresh = 'OFF';
$(document).ready(function(){
	setAutoRefresh();
	window.setInterval(function() { 
		if (autorefresh == 'ON') {
			window.location = '/sitemonitor/stats';
		}
	}, 60000);
});
function setAutoRefresh(state) {
	if (!state || state == '') {
		if (Cookies.get('autorefresh')) {
			state = Cookies.get('autorefresh');
		} else {
			state = 'OFF';
		}
	}
	autorefresh = state;
	Cookies.set('autorefresh', state);
	if (state == 'ON') {
		$("#refreshsste").html("(ON)")
	} else {
		$("#refreshsste").html("(OFF)")
	}
	if (typeof console == "object") { console.log("autorefresh:" + autorefresh + ", cookie autorefresh:" + Cookies.get('autorefresh')); }
}
</script>
</footer>

</body>
</html>
