<!DOCTYPE html>
<html>
<head>
</head>
<body>

<!-- Footer -->
<footer class="footer" th:fragment="footer" th:inline="text">
	<div id="footer" class="container text-center">
		<a href="https://www.paulhornenterprises.com" target="_blank">
			&copy; 2022 Paul Horn Enterprises LLC
		</a>
		| 
	 	<span th:text="'version:' + ${@environment.getProperty('sitemonitor.build.date')}"></span>
	</div>
<!--[if lt IE 9]><script src="js/excanvas.min.js" th:src="@{/js/excanvas.min.js}"></script><![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>	
<script src="js/jquery.columns.min.js" th:src="@{/js/jquery.columns.min.js}"></script>
<script src="js/jquery.jqplot.min.js" th:src="@{/js/jquery.jqplot.min.js}"></script>
<script src="js/jqplot.json2.min.js" th:src="@{/js/jqplot.json2.min.js}"></script>
<script src="js/jqplot.canvasAxisLabelRenderer.min.js" th:src="@{/js/jqplot.canvasAxisLabelRenderer.min.js}"></script>
<script src="js/jqplot.canvasAxisTickRenderer.min.js" th:src="@{/js/jqplot.canvasAxisTickRenderer.min.js}"></script>
<script src="js/jqplot.canvasTextRenderer.min.js" th:src="@{/js/jqplot.canvasTextRenderer.min.js}"></script>
<script src="js/jqplot.cursor.min.js" th:src="@{/js/jqplot.cursor.min.js}"></script>
<script src="js/jqplot.dateAxisRenderer.min.js" th:src="@{/js/jqplot.dateAxisRenderer.min.js}"></script>
<script src="js/jqplot.highlighter.min.js" th:src="@{/js/jqplot.highlighter.min.js}"></script>
<script src="js/js.cookie.js" th:src="@{/js/js.cookie.js}"></script>
<script type="text/javascript">
/*<![CDATA[*/
var autorefresh = 'OFF';
var secondsexpired = 60;
$(document).ready(function(){
	setAutoRefresh();
	window.setInterval(function() {
		if (autorefresh == 'ON') {
			secondsexpired = (secondsexpired - 15);
			if (typeof console == "object") { console.log("Refresh in " + secondsexpired + " sec."); }
			if (secondsexpired <= 0) { window.location = '/sitemonitor/stats'; }
		}
	}, 15 * 1000);
});
function setAutoRefresh(state) {
	if (!state || state == '') {
		if (Cookies.get('autorefresh')) {
			state = Cookies.get('autorefresh');
		} else {
			state = 'ON';
		}
	}
	autorefresh = state;
	Cookies.set('autorefresh', state, { expires: 365 });
	if (state == 'ON') {
		$("#refreshsste").html("(ON)")
	} else {
		$("#refreshsste").html("(OFF)")
	}
	if (typeof console == "object") { console.log("autorefresh:" + autorefresh + ", cookie autorefresh:" + Cookies.get('autorefresh')); }
}
/*]]>*/
</script>
</footer>

<div id="workingdialog" class="modal fade" th:fragment="workingdialog">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body">
    <div style="padding:50px;text-align:center;">
    <h4 class="modal-title">Working, please wait...</h4>
    <img src="images/ajax-loader.gif" th:src="@{/images/ajax-loader.gif}" alt="loading..." />
    </div>
  </div>
</div>
</div>
</div>

</body>
</html>
