html { position: relative;min-height: 100%; }
body {
  padding-top: 50px;
  padding-bottom: 0px;
  height:100%;
  margin-bottom: 60px;
}
.active-YES { color:green; }
.active-NO { color:red; }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  color:#888;
}

/* Bootstrap Custom Theme */
.sitemonotron { 
	background-image:url('/sitemonitor/images/wires.jpg?1');
	background-size:100% 500%;
	background-repeat:no-repeat;
	background-position:0 80%;
	color:#337ab7;
	padding:0 0;
}
.sitemonotron p {
	color:#337ab7;
}
