.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.sitemonotron {
	background-image: url('/sitemonitor/images/sunrise.png?20220119-1');
	background-size: 100% 200%;
	background-repeat: no-repeat;
	background-position: 0 60%;
	color: #fff;
	padding: 0 0;
}

.jqplot-highlighter-tooltip {
	font-size: 15px;
}
