body{ font-family:verdana;color:#444;font-size:0.7em;background-color:#d7effa; }

/* Form */
form .actions{ padding-top: 0; }
form label{	display: block;font-weight: 300;color: #52575c;margin: 0 0 0.5em 0; }
form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea
{
	-webkit-appearance: none;
	/* display: block; */
	background: #f9fbfe;
	border: solid 1px #d2d7dc;
	border-radius: 0.35em;
	width: 100%;
	line-height: 1.5em;
	padding: 0.5em;
	-moz-transition: background-color 0.25s ease-in-out;
	-webkit-transition: background-color 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out;
	-ms-transition: background-color 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,form textarea:focus
{ 
	background: #fff; 
}
form textarea{ min-height: 7em; }
	
