<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>

<header th:replace="fragments/header :: header"></header>

<div style="margin:100px;">

<div class="ui-widget" >
	<div class="ui-state-error ui-corner-all" style="padding:10px;">
	<h1 style="margin:0;">Error</h1>
	Failed on: <span th:text="${timestamp}"></span><br/>
	Status:  <span th:text="${status}"></span><br/>
	Error:  <span th:text="${error}"></span><br/>
	Message:  <span th:text="${message}"></span><br/>
	Path:  <span th:text="${path}"></span><br/>
	Exception:  <span th:text="${exception}"></span><br/>
	Headers: <span th:text="${headers}"></span><br/>
	<p style="font-size:12px;font-family:monospace;"><span th:text="${map}"></span></p>
	</div>
</div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>