<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="jumbotron" style="padding:0 0;">
  <div class="container">
    <h1>Site Monitor</h1>
    <p>HTTP(S) Monitor with Response Performance History Graphing.</p>
  </div>
</div>

<div class="container" style="padding-bottom:25px;">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#sites" aria-controls="sites" role="tab" data-toggle="tab">Sites</a></li>
	  <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="sites">
			<div class="ui-corner-all" style="padding:10px;margin:10px;border:solid 1px #eee;background-color:#fff;">
			
			<h5>SITES</h5>
			<table id="example" class="table table-condensed" cellspacing="0" width="100%">
			  <thead>
			    <tr>
			      <th>&nbsp;</th>
			      <th>Name</th>
			      <th>State</th>
			      <th>Msec.</th>
			      <th>Active</th>
			      <th>Failures</th>
			      <th>Assert</th>
			      <th>Notification</th>
			    </tr>
			  </thead>
			</table>
			
			<div class="btn-group" role="group">
			<a href="" onclick="editSite(-1);return false;" class="btn btn-primary">Add New Site</a>
			<a href="" onclick="purgeEvents();return false;" class="btn btn-danger">Purge All Events</a>
			<a href="" onclick="graphAll();return false;" class="btn btn-info">Graph All</a>
			<a href="" t:href="@{/stats}" class="btn btn-success">Refresh Page</a>
			</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="events">
			<div class="ui-corner-all" style="padding:10px;margin:10px;border:solid 1px #eee;background-color:#fff;">
			<h5>EVENTS</h5>
			<table class="table table-condensed">
			  <thead>
			    <tr>
			      <th>Site</th>
			      <th>Date/Time</th>
			      <th>State</th>
			      <th>Resp (msec)</th>
			    </tr>
			  </thead>
			  <tbody id="eventstbody">
			  </tbody>
			</table>
			</div>
		</div>
	
	</div>

</div>

<div id="siteForm" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Site Add/Edit</h4>
  </div>
  <form onsubmit="saveSite();return false;" id="siteForm" data-toggle="validator">
  <div class="modal-body">  
	<input type="hidden" id="site-id" name="id" value=""/>
	<input type="hidden" id="site-status" name="status" value=""/>
	<input type="hidden" id="site-failures" name="failures" value=""/>
	<input type="hidden" id="site-lastNotification" name="lastNotification" value=""/>
  	
  	<div class="form-group">
  	<label for="name">Name</label>
  	<input type="text" class="form-control" name="name" id="site-name" value="" placeholder="Name" required="required"/>
  	</div>
  	
  	<div class="form-group">
  	<label for="url">URL</label>
  	<input type="url" class="form-control" name="url" id="site-url" placeholder="URL" value="" required="required"/>
  	</div>

  	<div class="form-group">
  	<label for="active">Active</label>
  	<select class="form-control" name="active" id="site-active" required="required">
  		<option value="YES">YES</option>
  		<option value="NO">NO</option>
  	</select>
  	</div>

  	<div class="form-group">
  	<label for="failureLimit">Failure Limit</label>
  	<input type="number" class="form-control" name="failureLimit" id="site-failureLimit" value="" placeholder="Failure Limit" required="required"/>
  	</div>

  	<div class="form-group">
  	<label for="assertText">Assert Text</label>
  	<input type="text" class="form-control" name="assertText" id="site-assertText" value="" placeholder="Assert Text" required="required"/>
  	</div>

  	<div class="form-group">
  	<label for="notify">Notify (comma separated)</label>
  	<input type="text" class="form-control" name="notify" id="site-notify" value="" placeholder="Notification Emails (comma separated)" required="required"/>
  	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</div>
</div>
</div>

<div id="confirmdeletesitedialog" class="modal fade">
<div class="modal-dialog">
<div class="modal-content" style="width:200px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary" onclick="javascript:handleDeleteSite();">Yes</button>
  </div>
</div>
</div>
</div>

<div id="graphdialog" class="modal fade">
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Response Graph</h4>
  </div>
  <div class="modal-body">
    <div id="chartdiv" style="height:95%;width:100%; "></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:inline="text">
$(document).ready(function(){
	//Hack for Thymeleaf to allow ampersand without escape.
	var div = document.createElement('div');
	div.innerHTML = "[[@{/sites(size=100,sort=name,name.dir=asc)}]]";
	var sitesAjaxUrl = div.firstChild.nodeValue;
	
	$('#example').DataTable({
		//"paging": false,
		"pageLength": 50,
		stateSave: true,
		"ajax":  {
			"url": sitesAjaxUrl,
			"dataSrc": "_embedded.sites"
		},
		"columnDefs": [
			{
		      "orderable": false,
		      "targets": 0
			},
			{
			  "cellType": "th",
			  "createdCell": function (td, cellData, rowData, row, col) {
				  $(td).prop('scope', 'row')
			  },
			  "targets": 1
			}
		],
		"columns": [
			{ 
			   "data": "identity",
			   "render": function ( data, type, row, meta ) {
				   return '<div class="btn-group" role="group" style="width:160px;">'+
					'<a href="" onclick="editSite('+data+');return false;" class="btn btn-sm btn-primary">Edit</a>'+ 
					'<a href="" onclick="graphSite('+data+');return false;" class="btn btn-sm btn-info">Graph</a>'+ 
					'<a href="" onclick="deleteSite('+data+');return false;" class="btn btn-sm btn-danger">Delete</a>'+
					'</div>';
			   }
			},
			{ 
			  "data": "name",
			  "render": function ( data, type, row, meta ) {
				  return '<a href="'+row.url+'" target="_blank" style="color:#444;text-decoration:none;">'+row.name+'</a>';
			  }
			},
			{ 
			  "data": "status",
			  "render": function ( data, type, row, meta ) {
				  return '<span class="status-'+row.status+'">'+row.status+'</span>';
			  }
			},
			{ 
			  "data": "responseTime",
			  "type": "numeric",
			  "render": function ( data, type, row, meta ) {
				  return row.responseTime; // + '&nbsp;msec.';
			  }
			},
			{ 
			  "data": "active",
			  "render": function ( data, type, row, meta) {
				  return '<a href="" onclick="toggleActive('+row.identity+');return false;" class="btn btn-sm btn-default active-'+row.active+'">'+row.active+'</a>';
			  }
			},
			{ "data": "failCountDisplay" },
			{ "data": "assertText" },
			{ 
			  "data": "notify",
			  "render": function ( data, type, row, meta ) {
				  return '<button type="button" class="btn btn-sm btn-success" data-toggle="popover" title="Email Addresses" data-placement="bottom" data-content="'+row.notifyDisplay+'">View Emails</button>';
			  }
			}
		],
		"fnDrawCallback": function (oSettings) {
			$('[data-toggle="popover"]').popover();
	    }
	}).order( [ 1, 'asc' ] );
	
	loadEvents();
	setInterval(function () {
		$("span[class^='status-']").css('color','red');
		$("span[class='status-OK']").css('color','green');
	}, 500);
	$.jqplot.config.enablePlugins = true;
});
function toggleActive(id) {
	$.ajax({
		url: "[[@{/service/toggleactive/}]]" + id,
		success: function(json){ window.location = '[[@{/stats}]]'; }
	});
}
function graphSite(id) {
	try {
		$("#chartdiv").html('<div style="padding:100px 450px;"><img src="images/ajax-loader.gif"/></div>');
		$('#graphdialog').modal();
		$('#graphdialog').on('shown.bs.modal', function (e) {
			$.ajax({
				url: "[[@{/service/chartdata/}]]" + id,
				success: function(json){ plotGraph(json.data, json.labels); }
			});
		});
	} catch (err) { if (typeof console == "object") { console.log(err); } }
}
function graphAll() {
	try {
		$("#chartdiv").html('<div style="padding:100px 450px;"><img src="images/ajax-loader.gif"/></div>');
		$('#graphdialog').modal();
		$('#graphdialog').on('shown.bs.modal', function (e) {
			$.ajax({
				url: "[[@{/service/chartalldata}]]",
				success: function(json){ plotGraph(json.data, json.labels); }
			});
		});
	} catch (err) { if (typeof console == "object") { console.log(err); } }
}
// http://www.jqplot.com/docs/files/plugins/jqplot-dateAxisRenderer-js.html
// http://www.jqplot.com/deploy/dist/examples/
var graph;
function plotGraph(data, labels) {
	$("#chartdiv").html("");
	if (graph) { graph.destroy(); }
	graph = $.jqplot('chartdiv', data, {
		title:'Response Times',
		seriesDefaults: {   	    
        	rendererOptions: { 
        		smooth: true,
        		showMarker: false
        	}      
      	}, 
		series: labels,
		legend: {
	        show: true,
	        placement: 'outsideGrid'
	    },
		axes:{
	        xaxis:{
	          label:'Time of Request',
	          renderer:$.jqplot.DateAxisRenderer,
	          rendererOptions:{
                  tickRenderer:$.jqplot.CanvasAxisTickRenderer,
                  numberTicks: 15
              },
              tickOptions:{ 
            	  formatString:'%#I:%M%p', 
            	  angle:-45
              }
	        },
	        yaxis:{
	          label:'Milliseconds',
	          //autoscale:true,
	          min:0,
	          max:10000,
	          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
	        }
		}, 
        cursor:{
            show: true, 
            zoom: true
        },
        highlighter: {
            show: true,
            showTooltip: true,
            tooltipContentEditor:tooltipContentEditor
        } 
	});
}
function tooltipContentEditor(str, seriesIndex, pointIndex, plot) {
    // display series_label, x-axis_tick, y-axis value
    return plot.series[seriesIndex]["label"] + ", " + plot.data[seriesIndex][pointIndex];
}
function loadEvents() {
	$.ajax({
		url: "[[@{/service/eventchanges}]]",
		success: function(events){
			// http://eisenbraun.github.io/columns/
			if (!events.length) { return; }
			$.each(events, function(i, event) { 
				$("#eventstbody").append(
						'<tr>'+
						'<th scope="row"><a href="'+event.site.url+'" target="_blank" style="color:#444;text-decoration:none;">'+event.siteName+'</a></th>'+
						'<td>'+event.eventTimeDisplay+'</td>'+
						'<td><span class="status-'+event.state+'">'+event.state+'</span></td>'+
						'<td>'+event.responseTime+'</td>'+
						'</tr>');
			});			
		}
	});
}
function editSite(id) {
	if (id > 0) {
		$.ajax({
			url: "[[@{/sites/}]]" + id,
			success: function(site){
				$("#site-id").val(id);
				$("#site-name").val(site.name);
				$("#site-url").val(site.url);
				$("#site-active").val(site.active);
				$("#site-failureLimit").val(site.failureLimit);
				$("#site-assertText").val(site.assertText);
				$("#site-notify").val(site.notify);
				$("#site-status").val(site.status);
				$("#site-failures").val(site.failures);
				$("#site-lastNotification").val(site.lastNotification);
			}
		});
	} else {
		$("#site-id").val("");
		$("#site-name").val("");
		$("#site-url").val("");
		$("#site-active").val("");
		$("#site-failureLimit").val("");
		$("#site-assertText").val("");
		$("#site-notify").val("");
		$("#site-status").val("");
		$("#site-failures").val("");
		$("#site-lastNotification").val("");
	}
	$('#siteForm').modal();
}
function saveSite() {
	id = $("#site-id").val();
	name = $("#site-name").val();
	url = $("#site-url").val();
	active = $("#site-active").val();
	failureLimit = $("#site-failureLimit").val();
	assertText = $("#site-assertText").val();
	notify = $("#site-notify").val();
	status = $("#site-status").val();
	failures = $("#site-failures").val();
	lastNotification = $("#site-lastNotification").val();

	if (typeof console == "object") { console.log("save site id:" + id); }
	
	json = '{';
	if (id != "") {
		json += '"id":"' + id + '",';
	}
	json += '"name":"' + name + '",';
	json += '"url":"' + url + '",';
	json += '"active":"' + active + '",';
	json += '"failureLimit":"' + failureLimit + '",';
	json += '"notify":"' + notify + '",';
	json += '"assertText":"' + assertText + '",';
	json += '"status":"' + status + '",';
	json += '"failures":"' + failures + '",';
	json += '"lastNotification":"' + lastNotification + '"';
	json += '}';
	
	if (typeof console == "object") { console.log("save site data:" + json); }
	
	$.ajax({
		headers: { 
	        'Accept': 'application/json',
	        'Content-Type': 'application/json' 
	    },
		type : "POST",
		url : '[[@{/sites}]]',
		data : json,
		//dataType : 'json', //null response will error out if we require json
		success: function () {
			window.location = '[[@{/stats}]]';
	    },
	    error: function(XMLHttpRequest, textStatus, errorThrown) { 
	    	if (typeof console == "object") { 
	    		console.log("XMLHttpRequest:" + XMLHttpRequest); 
	    		console.log("textStatus:" + textStatus); 
	    		console.log("errorThrown:" + errorThrown); 
	    	}
	        alert("Status: " + textStatus + "\nError: " + errorThrown); 
	    }
	});	
}
var deleteid;
function deleteSite(id) {
	deleteid = id;
	$("#confirmdeletesitedialog").modal();
}
function handleDeleteSite() {	
	id = deleteid;
	if (id > 0) {
		$.ajax({
			headers: { 
		        'Accept': 'application/json',
		        'Content-Type': 'application/json' 
		    },
			type : "DELETE",
			url : '[[@{/sites}]]/' + id,
			success: function () {
				window.location = '[[@{/stats}]]';
		    },
		    error: function(XMLHttpRequest, textStatus, errorThrown) { 
		    	if (typeof console == "object") { 
		    		console.log("XMLHttpRequest:" + XMLHttpRequest); 
		    		console.log("textStatus:" + textStatus); 
		    		console.log("errorThrown:" + errorThrown); 
		    	}
		    	alert("Status: " + textStatus + "\nError: " + errorThrown); 
		    }
		});
	}	
}
function purgeEvents() {
	$.ajax({
		headers: { 
	        'Accept': 'application/json',
	        'Content-Type': 'application/json' 
	    },
		type : "DELETE",
		url : '[[@{/service/eventspurge}]]',
		success: function () {
			window.location = '[[@{/stats}]]';
	    },
	    error: function(XMLHttpRequest, textStatus, errorThrown) { 
	    	if (typeof console == "object") { 
	    		console.log("XMLHttpRequest:" + XMLHttpRequest); 
	    		console.log("textStatus:" + textStatus); 
	    		console.log("errorThrown:" + errorThrown); 
	    	}
	    	alert("Status: " + textStatus + "\nError: " + errorThrown); 
	    }
	});	
}
</script>	

</body>
</html>