<!doctype html>
<html lang="en" class="h-100">
<head th:replace="fragments/header :: head"></head>
<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>    

<main class="flex-shrink-0">
  <div class="container-fluid pt-5 px-2">
  <div th:replace="fragments/header :: sitemonotron"></div>    
    
	<div class="border rounded-3 p-2 mb-2">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item" role="presentation">
	    <button class="nav-link active" id="sites-tab" data-bs-toggle="tab" data-bs-target="#sites" type="button" role="tab" aria-controls="sites" aria-selected="true">Sites</button>
	  </li>
	  <li class="nav-item" role="presentation">
	    <button class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab" aria-controls="events" aria-selected="false">Events</button>
	  </li>
	</ul>
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active p-3" id="sites" role="tabpanel" aria-labelledby="sites-tab">
      
      <!-- Sites -->
		<table id="sitestable" class="table table-dark table-hover table-sm" cellspacing="0" width="100%" style="font-size:0.85em;">
		  <thead>
		    <tr>
		      <th style="max-width:25px;">&nbsp;</th>
		      <th style="min-width:150px;">Site</th>
		      <th style="max-width:25px;">State</th>
		      <th style="max-width:40px;">Msec.</th>
		      <th style="max-width:25px;">Active</th>
		      <th style="max-width:80px;">Failures</th>
		      <th style="max-width:100px;">Assert</th>
		      <th style="max-width:25px;">Email</th>
		    </tr>
		  </thead>
		</table>
		 
		<div class="btn-group" role="group">
		<a href="" onclick="editSite(-1);return false;" class="btn btn-primary btn-sm" title="New Site" data-toggle="tooltip" data-placement="top"><i class="bi bi-plus-lg"></i></a>
		<a href="" onclick="purgeEvents();return false;" class="btn btn-danger btn-sm" title="Purge Events" data-toggle="tooltip" data-placement="top"><i class="bi bi-eraser"></i></a>
		<a href="" onclick="graphAll();return false;" class="btn btn-info btn-sm" title="Graph All" data-toggle="tooltip" data-placement="top"><i class="bi bi-graph-up"></i></a>
		<a href="" t:href="@{/dashboard}" class="btn btn-success btn-sm" title="Refresh" data-toggle="tooltip" data-placement="top"><i class="bi bi-arrow-clockwise"></i></a>
		</div>			     
      
      </div>
	  <div class="tab-pane fade p-3" id="events" role="tabpanel" aria-labelledby="events-tab">
	  
	  <!-- Events -->
		<table id="eventstable" class="table table-dark table-hover table-sm" cellspacing="0" width="100%" style="font-size:0.85em;">
		  <thead>
		    <tr>
		      <th style="min-width:150px;">Site</th>
		      <th style="max-width:40px;">Date/Time</th>
		      <th style="min-width:150px;">State</th>
		      <th style="max-width:40px;">Msec.</th>
		    </tr>
		  </thead>
		</table>
	  
	  </div>
	</div>
	</div>

  </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/footer :: workingdialog"></div>
<div th:replace="fragments/footer :: siteForm"></div>
<div th:replace="fragments/footer :: confirmdeletesitedialog"></div>
<div th:replace="fragments/footer :: graphdialog"></div>
<jsincludes th:replace="fragments/footer :: jsincludes"></jsincludes>
<script th:replace="fragments/footer :: javascripts1"></script>
<script th:replace="fragments/footer :: javascripts2"></script>
      
</body>
</html>
